$c-text-darker: #242A34;
$c-text-dark: #313940;
$c-text-light: #AAB2BD;
$c-text-lighter: #E6E9ED;

$c-danger: #E9573F;
$c-success: #8CC152;
$c-primary: #3BAFDA;
$c-warning: #F6BB42;
$c-info: #37BC9B;

$c-lightergray: #F2F0EF;
$c-lightgray: #E7E3E1;
$c-gray: #4C5863;
$c-darkgray: #313940;
$c-darkergray: #242A34;
$c-background: #E8E9EE;