/* Includes */
@import "fonts";
@import "colors";
@import "menu";
@import "widget";

html{
	position: relative;
	min-height: 100%;
}
body{
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #f2f0ef;
}

body.b-admin-login {
	background-image: url('../../img/admin/bg.jpg');
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

/* Webkit */
::-webkit-scrollbar {
    width: 12px;
}
#menu::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0,0,0,.1);
}
#menu::-webkit-scrollbar-track {
	background: $c-darkgray;
	border: 1px solid $c-darkergray;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.6);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,.3);
}

/* Custom things */
.a-right{ text-align: right; }
.a-center{ text-align: center; }
.t-italic{ font-style: italic; }
.position-relative{ position: relative; }
.fs-16{ font-size: 16px; }

/* Bootstrap override */
#menu .btn{ text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important; }

.breadcrumb{
	margin-bottom: 0;
	padding: 0;

	li+li:before{
		font-family: "FontAwesome";
		content: "\f105";
	}
}

textarea{ resize: none; }

.dropdown-menu{ border-radius: 0; }
.nav-tabs > li > a { border-radius: 0; }
.nav-tabs > li.active > a{ font-weight: bold; }
.btn{ border-radius: 0; }
.form-control{ border-radius: 0; }
.alert{ border-radius: 0; }
.panel{ border-radius: 0; }
.panel-heading{ border-radius: 0; }
.well-sm { border-radius: 0; }

.modal-body *{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
	background: rgba(0, 0, 0, 0);
	text-decoration: none;
	color: #000;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-shadow: none;
	float: none;
	position: static;
	width: auto;
	height: auto;
	white-space: nowrap;
	cursor: inherit;
	-webkit-tap-highlight-color: transparent;
	line-height: normal;
	font-weight: normal;
	text-align: left;
}
.modal-body.no-padding{ padding: 0; }
.modal-body iframe{
	width: 100%; height: 100%;
}
.section{ margin-bottom: 16px; }
.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{ border-radius: 0; }

/* Login */
#content-login{
	width: 40%; max-width: 620px;
	min-width: 320px;
	margin: auto; margin-top: 86px;
	border: 6px solid rgba(0,0,0,.1);
	
	.widget {
		margin: 0;
		border: 1px solid rgba(0,0,0,.5);
	}

	form{
		margin-top: 32px;
	}
}

/* Registration */
#content-registration{
	width: 40%;
	min-width: 320px;
	margin: auto; margin-top: 86px;
	
	form{
		margin-top: 32px;
	}
}

/* Skeleton */
#container{ min-width: 640px; }

#header{
	position: relative;
	height: 64px;
	padding: 1px 16px;
	color: #FFF;
	background-color: $c-darkergray;
	background-image: url('../../img/admin/cactus-logo.png');
	background-repeat: no-repeat;
	background-position: 18px center;
	box-shadow: 0 0 4px rgba(0,0,0,0.6), inset 0 -1px 0 rgba(0,0,0,0.1);
	z-index: 100;

	.version{
		position: absolute;
		left: 222px; bottom: 18px;
		font-size: 10px;
		font-style: italic;
	}

	.profile{
		float: right;

		&:before{
			content: "";
			display: inline-block; vertical-align: middle;
			height: 62px;
		}
	}

	.username{
		display: inline-block; vertical-align: middle;
		margin-right: 8px;
	}

	.avatar{
		display: inline-block; vertical-align: middle;
		position: relative;
		margin-right: 8px;
		padding: 2px;
		background-color: $c-gray;
		border-radius: 24px;

		img{ border-radius: 24px; }

		.settings{
			opacity: 0;
			position: absolute;
			left: 0; right: 0; top: 0; bottom: 0;
			margin: auto;
			width: 24px; height: 29px;
			text-shadow: 0 0 12px #000;

			transition: opacity .15s ease-in-out;
			-moz-transition: opacity .15s ease-in-out;
			-webkit-transition: opacity .15s ease-in-out;
		}

		i{ color: #FFF; }

		&:hover .settings{ opacity: 1; }
	}
}

#content{
	position: relative;
	vertical-align: top;
	height: calc(100vh - 64px);
	overflow: auto;
	background-color: $c-lightergray;
}

#breadcrumb{
	padding: 10px 10px 10px 20px;
	text-shadow: 0 1px 0 #FFF;
	font-size: 13px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #CCC;
	
	i{ font-size: 20px; }

	i.fa-angle-right{ font-size: 14px; }

	& > a{ color: #4C8FBD; }
}

#view-content{
	overflow: hidden;
	padding: 15px;
}

#page-header {
	margin: 0 0 16px 0;
	
	&.inner { margin: 16px 0; }

	h1 {
		margin: 0;
		padding: 8px 0;
		font-family: "Open Sans", sans-serif;
		font-size: 24px;
		font-weight: lighter;
		border-bottom: 1px solid #E5E5E5;
	}
}

#footer{
	position: absolute;
	left: 0; bottom: 0;
	width: 100%; height: 45px;
	padding-top: 24px;
	text-align: center;
	font-size: 12px;
}

#container h2{
	margin: 0 0 16px 0;
	padding: 8px 0;
	color: #2679b5;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: lighter;
}

#container table{
	margin: 0 0 10px;
	width: 100%;
	table-layout: fixed;
	line-height: 1.428571429;
	font-size: 13px;
	color: #333;
	background-color: #FFF;
	border-collapse: collapse;
	border: 1px solid #e7e3e1;
	border-bottom: 3px solid $c-lightgray;

	th{
		padding: 4px;
		color: #FFF;
		background-color: #428BCA;
	}

	td{
		padding: 4px 8px;
		border-bottom: 1px solid #F2F2F2;
		
		.input-group-addon{
			line-height: normal;
			font-size: 9px;
			border-radius: 0;
		}
	}

	td:first-child{
		font-size: 14px;

		label{
			display: block;
			margin: 0;
			font-size: 11px;
			font-weight: normal;
			font-style: italic;
			color: #888;
		}
	}
}

form.form-edit table td{ height: 45px; }
form.form-edit table td:first-child{
	width: 164px;
	font-weight: bold;
}
form.form-edit table td textarea{ height: 100px; }
form.form-edit table td .panel{ margin-bottom: 0; }

/* Loader animation */
@-webkit-keyframes ROTATE{
	from	{
		transform: rotate(0);
		-webkit-transform: rotate(0);
	}
	to		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes ROTATE{
	from	{ -moz-transform: rotate(0) }
	to		{ -moz-transform: rotate(360deg) }
}
@-ms-keyframes ROTATE{
	from	{ -ms-transform: rotate(0) }
	to		{ -ms-transform: rotate(360deg) }
}
@-o-keyframes ROTATE{
	from	{ -o-transform: rotate(0) }
	to		{ -o-transform: rotate(360deg) }
}
@keyframes ROTATE{
	from	{
		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
	}
	to		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}


a [class^="fa-"], a [class*=" fa-"] {
	display: inline-block;
	min-width: 18px;
}

.fa-refresh{
	-webkit-animation:	ROTATE 1s infinite;
	-moz-animation:		ROTATE 1s infinite;
	-ms-animation:		ROTATE 1s infinite;
	-o-animation:		ROTATE 1s infinite;
	animation:			ROTATE 1s infinite;
	animation-timing-function:			linear;
	-webkit-animation-timing-function:	linear;
}

/* Index */
#widget-features .list-group-item {
	color: $c-text-dark;
	background-color: $c-lightergray;
	border: 1px solid $c-lightgray;
}

/* WYSIWYG */
.wysiwyg-field{
	h1{
		font-size: 32px;
		margin: 0;
		padding: 0;
		color: #000;
		font-family: inherit;
		font-weight: normal;
	}

	h2{
		font-size: 26px;
		margin: 0;
		padding: 0;
		color: #000;
		font-family: inherit;
		font-weight: normal;
	}

	h3{
		font-size: 20px;
		margin: 0;
		padding: 0;
		color: #000;
		font-family: inherit;
		font-weight: normal;
	}
}

.wysiwyg{
	overflow: auto;
	height: 302px; max-height: 302px;
	color: #000;
}

.ui-spinner{
	height: 34px !important;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

	input.spinner{
		margin: 0 22px 0 0;
		height: 34px;
		padding: 6px 12px;
		color: #555;
		
		&:focus{ outline: 0; }
	}

	&.focus{
		border-color: #66AFE9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	}

	.ui-spinner-button{ cursor: pointer; }
}

.form-edit td .image-tmb{
	margin-right: 8px;
	padding: 2px;
	border: 1px solid #CCC;
}

.alert{ display: none; }
.alert.force-show{ display: block; }

.ajax-cover{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 10;

	i{
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;
		width: 80px; height: 94px;
		font-size: 92px;
	}
}

/* Menu */
.panel-body h3{
	margin: 0;
	color: #2679B5;
}

.menu-items{
	position: relative;

	ul{
		position: relative;
		list-style-type: none;
	}

	& .wrap > ul{
		margin: 32px 0;
		padding: 0;
	}

	li{ position: relative; }

	li > .btn-group{ margin: 2px 0; }
	.wrap .btn{
		max-width: 142px;
		overflow: hidden;
	}

	li > ul:before{
		border-left: 1px dotted #CCC;
		content: "";
		position: absolute;
		top: 0; bottom: 18px;
		left: 6px;
	}

	li > ul > li:before{
		border-top: 1px dotted #CCC;
		content: "";
		position: absolute;
		left: -32px; top: 18px;
		width: 32px;
	}
	
	.placeholder{
		margin: 2px 0;
		width: 100px; height: 32px;
		background-color: #EEE;
		border: 1px dashed #AAA;

		&.error{
			background-color: #FEE;
			border: 1px dashed #FAA; 
		}
	}

	.wrap{ position: relative; }
}

.menu-edit{
	position: relative;

	h3{ margin-bottom: 16px; }
}

/* Layout */
.layout-panel, .layout-panel-part{
	min-height: 200px;

	ul{
		min-height: 60px;
		padding: 0;
		list-style-type: none;
		font-size: 0;
	}

	li{
		display: inline-block;
		vertical-align: top;
		margin: 4px;
		font-size: 14px;
	}

	.sortable-placeholder{
		width: 100px; height: 32px;
		border: 1px dashed #AAA;
	}
}

.layout-panel-part{
	height: auto; min-height: 100px;
}

.part-list{ position: relative; }

body li{ list-style-type: none; }

.crop-thumbnail-wrap-outer{
	display: none;
	margin: 8px 0;

	.fa-refresh{
		display: inline-block; vertical-align: middle;
		margin: 0 8px 0 0;
	}

	.crop-thumbnail-wrap{
		display: inline-block; vertical-align: middle;
		margin-right: 8px;
		border: 4px solid #CCC;
	}

	button{ vertical-align: middle; }
}

.crop-thumbnail-wrap-placeholder{ float: left; }

.change-note-wrap{
	width: 100%; min-width: 274px;
}

.change-note-wrap .change-note{
	overflow: auto;
	height: 400px;
	margin: 2px 0 10px;
}

.layout-tabs.nav{
	margin-bottom: 16px;
}

.index-documentation{
	text-align: center;

	h1{ text-align: left; }
	i.fa-ban{ color: rgba(217, 83, 79, 0.3); }
	i.fa-book{ color: rgba(51, 51, 51, 0.3); }
}

.index-desc i.fa-heart{ color: #D9534F; }

#documentation{
	h1, h2, h3, h4, h5, h6{
		font-family: "Open Sans", sans-serif;
		font-weight: lighter;
		color: #2679B5;
	}

	h1{ font-size: 32px; border-bottom: 1px dotted #E5E5E5; }
	h2{ font-size: 26px; border-bottom: 1px dotted #E5E5E5; }
	h3{ font-size: 22px; }
	h4{ font-size: 18px; }
	h5{ font-size: 15px; }
	h6{ font-size: 13px; }

	p.lead{
		margin-bottom: 20px;
		line-height: 1.4;
		font-size: 21px;
		font-weight: 200;
	}
}


/* Blog CSS */
.markdown{
	display: flex;
	background-color: #FFF;
	border: 1px solid #ccc;

	&.fullscreen{
		position: fixed; z-index: 100;
		left: 0; right: 0; top: 0; bottom: 0;

		.CodeMirror{ height: 100%; }

		.rendered-markdown{ height: 100%; }

		.markdown_full{
			display: block;
			position: fixed;
			right: 24px; top: 8px;
			color: #CCC;
			cursor: pointer;
			transition: all .2s ease;
			-moz-transition: all .2s ease;
			-webkit-transition: all .2s ease;

			&:hover{
				color: #333;
			}
		}
	}

	.CodeMirror{
		flex: 1 50%;
		height: 300px;
		padding: 8px;
		border-right: 4px solid #CCC;
		cursor: text;
	}

	.rendered-markdown{
		flex: 1 50%;
		overflow: auto;
		height: 300px;
		padding: 8px 12px;
	}

	.markdown_full{ display: none; }
}

/* Markdown style */
#container .rendered-markdown {
	h1, h2, h3, h4, h5, h6 { margin: 16px 0 8px 0; }
	h2 { padding: 0; }

	li { list-style-type: initial; }
}

/* Variable content */
._variable .variable-field-select{
	margin-bottom: 8px;
}
._variable textarea.common{
	height: 300px;
}

/* Lockscreen */
html.admin-lockscreen {
	min-height: 500px;
	height: 100%;
}

html.admin-lockscreen body {
	position: absolute;
	top: 0; bottom: 0;
	margin: 0;
	width: 100%; min-height: 500px;
	background-image: url('../../img/admin/bg.jpg');
	background-size: cover;
	background-position: center;
}

#lockscreen {
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-40%);
	text-align: center;
	width: 100%; height: 500px;

	.center, .clock {
		position: relative;
		display: inline-block;
		margin: auto;
		width: 628px;
		text-align: center; 
	}

	.center {
		margin-bottom: 48px;
	}

	.clock {
		width: 100%; min-width: 628px; height: 200px;
		font-weight: 300;
		color: #FFF;

		.date {
			font-size: 48px;
			text-shadow: 0 0 2px #000;
		}

		.time {
			font-size: 132px;
			line-height: 132px;
			text-shadow: 0 0 2px #000;
		}
	}

	.avatar > img {
		border: 8px solid rgba(255,255,255,.5);
		border-radius: 50%;
		box-shadow: 0 0 10px -5px #000;
	}

	.name {
		position: absolute;
		top: 0; bottom: 0; left: 0;
		margin: auto;
		width: 200px; height: 45px;
		background-color: #FFF;
		border: 6px solid rgba(255,255,255,.5);
		border-radius: 24px;
		background-clip: content-box;
		box-shadow: 0 0 10px -6px #000;

		div {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			font-size: 16px;
			font-weight: 300;
			color: #666;
		}
	}
	
	.alert {
		padding: 0;
		line-height: 2em;
		border: 6px solid rgba(255,255,255,.5);
		border-radius: 24px;
		background-clip: content-box;
		box-shadow: 0 0 10px -6px #000;
	}

	.login {
		position: absolute;
		top: 0; bottom: 0; left: 428px;
		margin: auto;
		width: 200px; height: 45px;
		border: 6px solid rgba(255,255,255,.5);
		border-radius: 24px;
		background-clip: content-box;
		box-shadow: 0 0 10px -6px #000;

		input {
			height: 33px;
			font-style: italic;
			border: 0;
			border-radius: 24px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.btn {
			border-top-right-radius: 24px;
			border-bottom-right-radius: 24px;
		}
	}

	.logout-wrap {
		position: absolute;
		bottom: -68px; left: 0; right: 0;
		margin: auto;
		width: 62px; height: 62px;
		border-radius: 50%;
		border: 6px solid rgba(255,255,255,.5);
		box-shadow: 0 0 10px -6px #000;

		.logout {
			width: 50px; height: 50px;
			padding-top: 12px; padding-left: 9px;
			border-radius: 50%;
		}
	}
}

/* File tree */
.file-tree {
	.file-context-menu {
		position: absolute;
		display: none;
		z-index: 10;

		a:focus { outline: 0; }

		a.disable {
			color: $c-lightergray;
			background-color: transparent;

			&:hover {
				background-color: transparent;
				cursor: not-allowed;
			}
		}
	}

	.file-tree-left {
		position: absolute;
		left: 0; top: 0; bottom: 0;
		width: 20%;
		background-color: $c-lightgray;
		border-right: 1px solid $c-gray;

		#page-header {
			padding-top: 8px;
			text-align: center;
			background-color: $c-lightdarkergray;

			h1 {
				padding: 8px 0 12px 0;
			}
		}

		.tree-wrap {
			position: absolute;
			top: 64px; bottom: 0; right: 0; left: 0;
			overflow: auto;
			margin-bottom: 0;

			&::-webkit-scrollbar {
				height: 10px;
			}
		}

		.php-file-tree {
			display: inline-block;
			padding-right: 16px;
		}

		li.active{
			a { font-weight: bold; }

			a:after{
				content: "";
				position: absolute;
				left: -28px; right: -6px; top: -1px;
				height: 20px;
				background-color: rgba(0,0,0,.05);
			}
		}
	}

	.file-tree-right {
		position: absolute;
		left: 20%; top: 32px; bottom: 0;
		width: 80%;

		.menu {
			position: absolute;
			top: -32px;
			width: 100%; height: 32px;
			background-color: $c-darkgray;
			box-shadow: 0 0 4px rgba(0,0,0,0.6),inset 0 -1px 0 rgba(0,0,0,0.1);
			z-index: 10;

			ul {
				margin-bottom: 0;
				height: 32px;
			}

			li {
				display: inline-block;
				height: 32px;
				padding: 6px 8px 8px 8px;
				color: $c-menu-text;
				cursor: pointer;

				&:hover {
					color: $c-menu-text-hover;
					background-color: $c-darkergray;
				}
			}

			.indicator {
				visibility: hidden;
				position: absolute;
				left: 10px; top: 10px;
				width: 11px; height: 11px;
				background-color: $c-danger;
				border: 1px solid $c-darkergray;

				&.visible{ visibility: visible; }
			}
		}

		.CodeMirror {
			position: absolute;
			left: 0; right: 0; top: 0; bottom: 0;
			height: 100%;
			
			.CodeMirror-vscrollbar {
				&::-webkit-scrollbar-thumb {
				    background: rgba(160,160,160,.5);
				    border: 1px solid rgba(160,160,160,.2);
				}
				&::-webkit-scrollbar-thumb:hover {
				    background: rgba(160,160,160,.6);
				}
				&::-webkit-scrollbar-thumb:window-inactive {
					background: rgba(160,160,160,.3);
				}
			}

			.ajax-cover {
				background-color: transparent;
			}
		}


	
		.console {
			display: none;
			position: absolute;
			bottom: -32px;
			width: 100%; height: 32px;
			background-color: $c-darkgray;
			box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);

			input {
				margin: 2px 0 0 12px;
				width: 90%;
				padding: 4px;
				color: #FFF;
				font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
				font-size: 16px;
				background-color: transparent;
				border: 0;
				outline: 0;
			}

			.close {
				position: absolute;
				right: 12px;
				top: 6px;
				color: #FFF;
			}
		}

		&.console-opened {
			bottom: 32px;

			.console {
				display: block;
			}
		}
	}

	.ajax-cover{
		i {
			color: $c-gray;
		}
	}
}