@import "fonts";
@import "colors";

.mce-panel{ border-color: #CCC !important; }

.dropdown-menu li.selected a { font-weight: bold; }

.input-group-btn > .btn {
	padding: 7px 12px 6px 12px;
}

.bootstrap-select .btn:focus {
	border-color: #66afe9;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: $c-default;
	background-color: $c-primary;
}

/* Fine uploader */
li.uploaded._file{
	display: inline-block;
	width: 49%;

	&:nth-of-type(2n){ float: right; }
}

.qq-uploader {  margin-bottom: 4px; }

.qq-upload-button {
	background-color: #3bafda;
	border-color: #28a5d4;

	&:hover {
		background-color: #2494be;
		border-color: #1e7da0;
	}
}

li.center-img img.qq-thumbnail-selector{
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
}

.qq-thumbnail-wrap-outer.file{ border: 0; }

.qq-thumbnail-selector-file{
	width: 48px; height: 54px;
	background-image: url('../../img/admin/mime.png');
}
.qq-thumbnail-selector-file.application_zip{ background-position: 0 0; }
.qq-thumbnail-selector-file.application_msword, .qq-thumbnail-selector-file.text_plain{ background-position: -48px 0; }
.qq-thumbnail-selector-file.image_jpeg, .qq-thumbnail-selector-file.image_png{ background-position: -192px 0; }
.qq-thumbnail-selector-file.application_pdf{ background-position: -48px 0; }

.qq-thumbnail-wrap{ position: relative; }

.qq-thumbnail-wrap .fa-refresh{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0; 
	margin: auto;
	width: 28px; height: 34px;
}

/* jQuery UI */
.ui-dialog {
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0 4px rgba(0,0,0,.2);
	z-index: 1040;
	
	.ui-corner-all { border-radius: 0; }

	.ui-dialog-titlebar {
		position: absolute;
		width: 100%;
		border: 0;
		border-radius: 0;
		z-index: 1;
	}
	
	.ui-state-hover, .ui-state-focus {
		border: 1px solid #ccc;
		background: #eee;
		outline: 0;
	}

	.ui-dialog-title { font-size: 11px; }

	.ui-widget-header { background: rgba(0,0,0,.3); }

	.ui-state-default .ui-icon { background-image: url("smoothness/images/ui-icons_222222_256x240.png"); }

	.ui-dialog-content {
		min-width: 128px !important; min-height: 128px !important;
		padding: 0; padding-top: 30px;
		background-color: $c-lightergray;
		display: flex !important;
		align-items: center;
		justify-content: center;

		img {
			max-width: 256px; max-height: 256px;
			vertical-align: bottom;
		}
	}
}

.ui-spinner-button {
	width: 22px; 

	&.ui-state-hover {
		border: inherit;
		background: inherit;
	}

	.ui-icon {
		left: 3px;
		background-image: url('smoothness/images/ui-icons_222222_256x240.png');
		opacity: .4;
	}
}

.ui-widget-header {
	background: $c-success;
	border: 1px solid $c-dark-success;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid $c-active-dark-success;
	background: $c-active-success;
	color: $c-default;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("smoothness/images/ui-icons_ffffff_256x240.png");
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid $c-dark-default;
	background: $c-default;
	color: $c-primary;
}

.ui-datepicker-calendar .ui-state-hover,
.ui-datepicker-calendar .ui-widget-content .ui-state-hover,
.ui-datepicker-calendar .ui-widget-header .ui-state-hover {
	border: 1px solid $c-active-dark-default;
	background: $c-active-default;
	color: $c-primary;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid $c-active-dark-primary;
	background: $c-active-primary;
	color: $c-default;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-br,
.ui-corner-bl,
.ui-corner-tr,
.ui-corner-tl {
	border-radius: 0;
}

.ui-datepicker {
	margin-left: 4px;
	z-index: 6 !important;
	outline: 4px solid rgba(0,0,0,.2);
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover { left: 2px; }
.ui-datepicker .ui-datepicker-next-hover { right: 2px; }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image: url("smoothness/images/ui-icons_222222_256x240.png");
	opacity: 1;
}

.ui-state-active .ui-icon {
	background-image: url("smoothness/images/ui-icons_ffffff_256x240.png");
	opacity: 1;
}


/* Chosen */
.chosen-container-multi .chosen-choices li.search-choice {
	padding: 4px 20px 4px 5px;
	background-image: none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 5px;
}

.chosen-container .chosen-results li.highlighted {
	background-color: $c-primary;
	background-image: none;
}