@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Light-webfont.eot");
  src: url("../../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg"), url("../../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Regular-webfont.eot");
  src: url("../../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../../fonts/OpenSans-Semibold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans-Italic-webfont.eot");
  src: url("../../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../../fonts/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: 400;
  font-style: italic; }
.mce-panel {
  border-color: #CCC !important; }

/* Fine uploader */
li.uploaded._file {
  display: inline-block;
  width: 49%; }
  li.uploaded._file:nth-of-type(2n) {
    float: right; }

.qq-uploader {
  margin-bottom: 4px; }

.qq-upload-button {
  background-color: #3bafda;
  border-color: #28a5d4; }
  .qq-upload-button:hover {
    background-color: #2494be;
    border-color: #1e7da0; }

.qq-thumbnail-wrap-outer.file {
  border: 0; }

.qq-thumbnail-selector {
  width: 150px; }

.qq-thumbnail-selector-file {
  width: 48px;
  height: 54px;
  background-image: url("../../img/admin/mime.png"); }

.qq-thumbnail-selector-file.application_zip {
  background-position: 0 0; }

.qq-thumbnail-selector-file.application_msword, .qq-thumbnail-selector-file.text_plain {
  background-position: -48px 0; }

.qq-thumbnail-selector-file.image_jpeg, .qq-thumbnail-selector-file.image_png {
  background-position: -192px 0; }

.qq-thumbnail-selector-file.application_pdf {
  background-position: -48px 0; }

.qq-thumbnail-wrap {
  position: relative; }

.qq-thumbnail-wrap .fa-refresh {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 28px;
  height: 34px; }

/* jQuery Dialog */
.ui-dialog {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1040; }
  .ui-dialog .ui-corner-all {
    border-radius: 0; }
  .ui-dialog .ui-dialog-titlebar {
    position: absolute;
    width: 100%;
    border: 0;
    border-radius: 0;
    z-index: 1; }
  .ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
    border: 1px solid #ccc;
    background: #eee;
    outline: 0; }
  .ui-dialog .ui-dialog-title {
    font-size: 11px; }
  .ui-dialog .ui-widget-header {
    background: rgba(0, 0, 0, 0.3); }
  .ui-dialog .ui-state-default .ui-icon {
    background-image: url("smoothness/images/ui-icons_222222_256x240.png"); }
  .ui-dialog .ui-dialog-content {
    min-width: 128px !important;
    min-height: 128px !important;
    padding: 0;
    padding-top: 30px;
    background-color: #f2f0ef;
    display: flex !important;
    align-items: center;
    justify-content: center; }
    .ui-dialog .ui-dialog-content img {
      max-width: 256px;
      max-height: 256px;
      vertical-align: bottom; }
